include LICENSE README.md
include requirements/*.txt
include hiplot/static/*
include hiplot/static/built/*
include hiplot/static/built/streamlit_component/*
include hiplot/templates/*
include hiplot/py.typed
